RESTIC_REPOSITORY=s3:https://fsn1.your-objectstorage.com/katana/katana-backup
RESTIC_PASSWORD=your_restic_password

# Optional: If using S3-compatible storage
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=your_aws_region
